<html>
 <head></head> 
 <body> 
  <form action="/orderForm" method="Post" id="order"> 
   <input type="submit" name="button" id="button" value="登录" />
   <table width="912" height="580" border="0" align="center" cellpadding="1" cellspacing="0"> 
    <tbody> 
     <tr> 
      <td width="150" height="20" align="center"> <p> <strong>名称</strong> </p> </td> 
      <td width="150" align="center"> <strong>工程量</strong> </td> 
      <td width="150" align="center"> <strong>单价（元）</strong> </td> 
      <td width="150" align="center"> <strong>品牌</strong> </td> 
      <td width="150" align="center"> <strong>规格</strong> </td> 
      <td width="150" align="center">合价（元）</td> 
     </tr> 
     <tr> 
      <td width="150" height="40" align="center">细木工板</td> 
      <td width="150" align="center"> <input name="user[]" type="text" id="textfield20" value="6" size="13" maxlength="3" /> 张 </td> 
      <td width="150" align="center"  id="pass[]">125</td> 
      <td width="150" height="40" align="center"> <select name="select[]" form="order"> <option value="qnz">莫干山</option><option value="lgm">老干妈</option><option value="jl">金立</option> </select> </td> 
      <td width="150">2420*1220*18mm</td> 
      <td width="150" align="center">&nbsp;</td> 
     </tr> 
     <tr> 
      <td height="40" align="center">3mm澳松</td> 
      <td align="center"> <input  name="user[]" type="text" id="textfield20" value="4" size="13" maxlength="3" /> 张 </td> 
      <td align="center" id="pass[]">45</td> 
      <td height="40" align="center"> <select name="select[]" form="order"> <option value="qnz">莫干山</option> </select> </td> 
      <td>2420*1220*3mm</td> 
      <td align="center">&nbsp;</td> 
     </tr> 
     <tr> 
      <td height="40" align="center">9mm澳松</td> 
      <td align="center"> <input name="textfield16" type="text" id="textfield20" value="2" size="13" maxlength="3" /> 张 </td> 
      <td align="center">85</td> 
      <td height="40" align="center"> <select name="select" form="order"> <option value="qnz">莫干山</option> </select> </td> 
      <td>2420*1220*9mm</td> 
      <td align="center">&nbsp;</td> 
     </tr>
    </tbody> 
   </table> 
  </form>  
 </body>
</html>