<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>无标题文档</title> 
  <script src="SpryAssets/SpryCollapsiblePanel.js" type="text/javascript"></script> 
  <!-- 以下新增代码 by sliang 2014-12-29 --> 
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script> 
  <script type="text/javascript" src="js/pagejs.js"></script> 
  <!-- 以上新增代码 by sliang 2014-12-29 --> 
  <link href="SpryAssets/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" /> 
  <style type="text/css">
.ww {
  font-size: 12px;
}
.ee {
  font-size: 14px;
}
.ee {
  font-size: 14px;
}
.aa {
  color: #F00;
}
.ee {
  font-size: 14px;
  color: #666;
}
.qq {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}
.qq {
  color: #FFF;
  font-weight: bold;
}
.ffg {
  font-size: 13px;
  font-weight: normal;
  color: #FFF;
}
.fghfh {
  color: #903;
}
</style> 
 </head> 
 <body> 
  <table width="1200" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
     <td width="649" bgcolor="#CCCCCC" class="ww">所在城市 &nbsp;临沂</td> 
     <td width="134" bgcolor="#CCCCCC" class="ww">客服电话7858888</td> 
     <td width="104" bgcolor="#CCCCCC" class="ww" id="username">未登录用户</td> 
     <td width="105" bgcolor="#CCCCCC" class="ww">我的购物车</td> 
    </tr> 
   </tbody>
  </table> 
  <table width="1200" border="0" align="center" cellpadding="1" cellspacing="0" id="login_reg"> 
   <tbody>
    <tr> 
     <td width="364" rowspan="3" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="#"><img src="image/dingdangshu.jpg" width="300" height="80" /></a></p></td> 
     <td width="329" valign="middle"> &nbsp;</td> 
     <td width="1" valign="middle" bgcolor="#FFFFFF">&nbsp;</td> 
     <td width="108">&nbsp;</td> 
     <td width="59">&nbsp;</td> 
     <td width="173" height="37">
      <form id="form1" name="form1" method="post" action=""> 
       <label for="textfield23">账号</label> 
       <input name="textfield23" type="text" id="textfield23" size="15" /> 
      </form> <span class="txt lgn_txt"><span class="new_lj_lgn"> </span></span></td> 
     <td width="145">
      <form id="form3" name="form3" method="post" action=""> 
       <input type="button" name="login" id="login" value="登录" /> 
      </form></td> 
    </tr> 
    <tr> 
     <td valign="middle" bgcolor="#FF6600">
      <div class="search_panel clearfloat">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
       <input name="txtKeyWord" type="text" class="search_text" id="txtKeyWord" onfocus="kwonfocus(this);" onblur="kwonblur(this);" value="请输入材料等关键字" size="40" /> 
      </div></td> 
     <td valign="middle" bgcolor="#FFFFFF">&nbsp;</td> 
     <td width="108" bgcolor="#FF6600"><a href="#"><img src="image/search01.jpg" width="107" height="39" /></a></td> 
     <td width="59">&nbsp;</td> 
     <td height="40">
      <form id="form2" name="form2" method="post" action=""> 
       <label for="textfield25">密码</label> 
       <input name="textfield25" type="password" id="textfield25" size="15" /> 
      </form></td> 
     <td height="40">
      <form id="form4" name="form4" method="post" action=""> 
       <!-- 注释 by sliang 2014-12-29
      <input type="submit" name="button2" id="button2" value="注册" />
      --> 
       <!-- 以下新增 by sliang--> 
       <input type="button" name="button2" id="button2" value="注册" /> 
       <!-- 以上新增 by sliang--> 
      </form></td> 
    </tr> 
    <tr> 
     <td valign="middle">&nbsp;</td> 
     <td valign="middle" bgcolor="#FFFFFF">&nbsp;</td> 
     <td width="108">&nbsp;</td> 
     <td width="59">&nbsp;</td> 
     <td height="28">
      <form id="form5" name="form5" method="post" action=""> 
       <input type="checkbox" name="checkbox" id="remember" /> 
       <span class="ee">记住密码 </span> 
      </form></td> 
     <td height="28"><a href="#" class="ee">忘记密码</a></td> 
    </tr> 
   </tbody>
  </table> 
  <br /> 
  <table width="1200" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
     <td width="960" height="30" align="left" bgcolor="#CCCCCC">注意：请在下方输入您房子的信息，点击保存，材料用量和价格将自动计算出，请尽量在专业人员帮助下填写。 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
     <td width="236" align="left" bgcolor="#CCCCCC" class="fghfh">服务电话：7858888</td> 
    </tr> 
   </tbody>
  </table> 
  <br /> 
  <table width="1200" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
     <td width="206" height="30" align="left" bgcolor="#FFFFFF"><p><i class="aa">*</i>建筑面积： <input name="room_long" type="text" class="inputinset" value="100" size="4" maxlength="5" /> ㎡</p></td> 
     <td width="614" height="30" bgcolor="#FFFFFF"><i class="aa">*</i> 装修地址： <span class="search_panel clearfloat"> <input name="txtKeyWord2" type="text" class="search_text" id="txtKeyWord2" onfocus="kwonfocus(this);" onblur="kwonblur(this);" value="请输入您的送货地址" size="40" maxlength="50" /> <i class="aa">*</i> 手机号码： <input name="room_long2" type="text" class="inputinset" size="12" maxlength="11" /> </span></td> 
     <td width="89" bgcolor="#FFFFFF"><span class="ee"> <input class="btnA" onclick="wall_brick(this.form)" type="button" value="提交" /> </span></td> 
     <td width="283" align="left" bgcolor="#FFFFFF"><span class="ee">注：此栏为必填项，请确认无误后提交</span>&nbsp;。</td> 
    </tr> 
   </tbody>
  </table> 
  <br /> 
  <table width="1000" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
     <td height="40" align="left" bgcolor="#FFFFFF">
      <div id="CollapsiblePanel1" class="CollapsiblePanel"> 
       <div class="CollapsiblePanelTab" tabindex="0"> 
        <table width="1200" height="38" border="0" cellpadding="0" cellspacing="0"> 
         <tbody>
          <tr> 
           <th width="905" align="left" bgcolor="#CCCCCC" scope="col"><font size="4" color="#000000">基础装修材料（以下内容可根据实际情况进行修改）</font></th> 
           <th width="295" align="left" bgcolor="#CCCCCC" scope="col"><font size="4" color="#000000">总价：</font></th> 
          </tr> 
         </tbody>
        </table> 
       </div> 
       <div class="CollapsiblePanelContent">
        <br /> 
        <table width="912" height="580" border="0" align="center" cellpadding="1" cellspacing="0"> 
         <tbody>
          <tr> 
           <td width="150" height="20" align="center"><p><strong>名称</strong></p></td> 
           <td width="150" align="center"><strong>工程量</strong></td> 
           <td width="150" align="center"><strong>单价（元）</strong></td> 
           <td width="150" align="center"><strong>品牌</strong></td> 
           <td width="150" align="center"><strong>规格</strong></td> 
           <td width="150" align="center">合价（元）</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">细木工板</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield20" value="6" size="13" maxlength="3" />张</td> 
           <td width="150" align="center">125</td> 
           <td width="150" height="40" align="center"> <select> <option value="qnz">莫干山</option> </select> </td> 
           <td width="150">2420*1220*18mm</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td height="40" align="center">3mm澳松</td> 
           <td align="center"><input name="textfield16" type="text" id="textfield20" value="4" size="13" maxlength="3" /> 张</td> 
           <td align="center">45</td> 
           <td height="40" align="center"><select name="select"> <option value="qnz">莫干山</option> </select></td> 
           <td>2420*1220*3mm</td> 
           <td align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td height="40" align="center">9mm澳松</td> 
           <td align="center"><input name="textfield16" type="text" id="textfield20" value="2" size="13" maxlength="3" /> 张</td> 
           <td align="center">85</td> 
           <td height="40" align="center"><select name="select"> <option value="qnz">莫干山</option> </select></td> 
           <td>2420*1220*9mm</td> 
           <td align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td height="40" align="center">18mm澳松</td> 
           <td align="center"><input name="textfield2" type="text" id="textfield" value="2" size="13" maxlength="3" /> 张</td> 
           <td align="center">125</td> 
           <td height="40" align="center"><select name="select2"> <option value="qnz">莫干山</option> </select></td> 
           <td>2420*1220*18mm</td> 
           <td align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">马六甲</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield21" value="16" size="13" /> 张</td> 
           <td width="150" align="center">185</td> 
           <td width="150" height="40" align="center"> <select> <option value="tbb">莫干山</option> </select> </td> 
           <td width="150">2420*1220*18mm</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">马六甲背板</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield24" value="6" size="13" /> 张</td> 
           <td width="150" align="center">35</td> 
           <td width="150" height="40" align="center"> <select> <option value="mgs">莫干山</option> </select> </td> 
           <td width="150">2420*1220*5mm</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">石膏板</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield34" value="15" size="13" />张</td> 
           <td width="150" align="center">17.5</td> 
           <td width="150" height="40" align="center"> <select> <option value="knf">泰山</option> </select> </td> 
           <td width="150"><p>2420*1220*9mm</p></td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">木龙骨</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield35" value="13" size="13" /> 捆</td> 
           <td width="150" align="center">17.5</td> 
           <td width="150" height="40" align="center"> <select> <option value="lf">绿峰</option> </select> </td> 
           <td width="150">3000*40*20</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">腻子粉</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield36" value="33" size="13" /> 袋</td> 
           <td width="150" align="center">8</td> 
           <td width="150" height="40" align="center"> <select> <option value="mc">美巢</option> </select> </td> 
           <td width="150">10kg</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">乳胶漆</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield37" value="2" size="13" /> 桶</td> 
           <td width="150" align="center">380</td> 
           <td width="150" height="40" align="center"> <select> <option value="lb">立邦</option> </select> </td> 
           <td width="150">20kg</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">白乳胶</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield39" value="1" size="13" /> 桶</td> 
           <td width="150" align="center">90</td> 
           <td width="150" height="40" align="center"> <select> <option value="lb">立邦</option> </select> </td> 
           <td width="150">20kg</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">墙固</td> 
           <td width="150" align="center"><input name="textfield16" type="text" id="textfield40" value="2" size="13" />桶</td> 
           <td width="150" align="center">90</td> 
           <td width="150" height="40" align="center"> <select> <option value="sb">盛邦</option> </select> </td> 
           <td width="150">20kg</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center">石膏粉</td> 
           <td width="150" align="center"><input name="textfield" type="text" id="textfield3" value="2" size="13" /> 袋</td> 
           <td width="150" align="center">14</td> 
           <td width="150" height="40" align="center"><select name="select"> <option value="lb">立邦</option> </select></td> 
           <td width="150">10kg</td> 
           <td width="150" align="center">&nbsp;</td> 
          </tr> 
          <tr> 
           <td width="150" height="40" align="center"><a href="#">添加大类</a></td> 
           <td width="150" align="center">&nbsp;</td> 
           <td>&nbsp;</td> 
           <td width="150" height="40">&nbsp;</td> 
           <td width="150">&nbsp;</td> 
           <td>&nbsp;</td> 
          </tr> 
         </tbody>
        </table> 
       </div> 
      </div></td> 
    </tr> 
   </tbody>
  </table> 
  <table width="1000" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
    </tr> 
   </tbody>
  </table> 
  <table width="1000" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
    </tr> 
   </tbody>
  </table> 
  <table width="1000" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
    </tr> 
   </tbody>
  </table> 
  <table width="1000" border="0" align="center" cellpadding="1" cellspacing="0"> 
   <tbody>
    <tr> 
    </tr> 
   </tbody>
  </table> 
  <span class="ee"> <br /> 
   <center> 
    <input class="btnA" onclick="wall_brick(this.form)" type="button" value="保存" /> 确定无误后请点击保存 
   </center><br /> <br /> </span> 
  <table width="1200" border="0" align="center" cellpadding="0" cellspacing="0"> 
   <tbody>
    <tr> 
     <th align="left" bgcolor="#CC6600" class="qq" scope="col">关于会员</th> 
     <th align="left" bgcolor="#CC6600" scope="col"><span class="qq">特色服务</span></th> 
     <th height="40" align="left" bgcolor="#CC6600" scope="col"><span class="qq">装修小工具</span></th> 
     <th height="30" align="left" bgcolor="#CC6600" scope="col"><span class="qq">微信公众号</span></th> 
     <th align="left" bgcolor="#CC6600" scope="col"><span class="qq">本站服务热线</span></th> 
    </tr> 
    <tr> 
     <td align="left" bgcolor="#CC6600" class="qq"><span class="ffg">我要注册</span></td> 
     <td bgcolor="#CC6600"><span class="ffg">一站式配齐装修材料</span></td> 
     <td height="40" bgcolor="#CC6600"><span class="ffg">墙砖计算器</span></td> 
     <td height="120" rowspan="3" align="left" bgcolor="#CC6600"><img src="image/weixin_110_110.jpg" width="110" height="110" /></td> 
     <td bgcolor="#CC6600"><span class="qq">7858888</span></td> 
    </tr> 
    <tr> 
     <td bgcolor="#CC6600"><span class="ffg">用户注册协议</span></td> 
     <td bgcolor="#CC6600"><span class="ffg">二次补料免费</span></td> 
     <td height="40" bgcolor="#CC6600"><span class="ffg">地砖计算器</span></td> 
     <td bgcolor="#CC6600"><span class="qq">合作商家</span></td> 
    </tr> 
    <tr> 
     <td bgcolor="#CC6600"><span class="ffg">会员手册</span></td> 
     <td bgcolor="#CC6600"><span class="ffg">余料按价回收</span></td> 
     <td height="40" bgcolor="#CC6600"><span class="ffg">木地板计算器</span></td> 
     <td bgcolor="#CC6600"><span class="qq">7858888</span></td> 
    </tr> 
   </tbody>
  </table> 
  <br /> 
  <script type="text/javascript">
var CollapsiblePanel1 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel1");
</script>   
 </body>
</html>